/*input[type='text'] {
            margin-top: 17px;  уменьшите на свой вкус  
            margin-bottom: 16px;
             /* здесь тоже */
body{
	font-size: 20px;
	font-family: italic; 
}
form{
	margin-left: 80px;
}
input {
	margin-left: 50px;
	margin-top: 10px; /* уменьшите на свой вкус  */
  margin-bottom: 10px;
}

.emptyField{
	border: 3px solid red;
	
}


